# Node modules
node_modules/

# Build output
dist/
build/

# PlatformIO
.pio/
.pioenvs/
.piolibdeps/
.vscode/c_cpp_properties.json
.vscode/launch.json

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store

# Env files
.env
.env.*
